<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.piandmash.fieldcap.mobilewalkthrough"
        versionCode="10"
        version   = "0.0.1">

    <!-- versionCode is optional and Android only -->
    <preference name="phonegap-version" value="2.7.0" />
    <gap:splash src="splash.png" />
    <preference name="splash-screen-duration" value="5000" />
    <icon src="icon.png" />
    <name>Field Cap - walkthough</name>

    <description>
      Field Cap mobile walkthrough
    </description>

    <author href="http://www.piandmash.com" email="pete.cleary@gmail.com">
        Pete Cleary
    </author>

</widget>
